<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhang.health.mapper.CheckItemMapper">


    <select id="findCheckItemIdsByCheckGroupId" resultType="java.lang.Integer">
        SELECT checkitem_id FROM `t_checkgroup_checkitem` tcc where tcc.checkgroup_id = #{checkGroupId}
    </select>
</mapper>