<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhang.health.mapper.CheckGroupMapper">


    <insert id="setCheckItemsRelation">
        insert into t_checkgroup_checkitem values (#{checkGroupId},#{checkItemId})
    </insert>


    <delete id="cancelCheckItemsRelation">
        delete from t_checkgroup_checkitem where checkgroup_id = #{checkGroupId}
    </delete>


    <update id="setSetMealRelation">
        insert into t_setmeal_checkgroup values (#{checkGroupId},#{setMealId})
    </update>

    <delete id="cancelSetMealRelation">
        delete from t_setmeal_checkgroup where setmeal_id = #{setMealId}
    </delete>
</mapper>