<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhang.health.mapper.MemberMapper">


    <select id="findTodayNewMemberCount" resultType="java.lang.Integer">
        select count(*) from t_member where reg_time = #{reportDate};
    </select>

    <select id="findTodayTotalMemberCount" resultType="java.lang.Integer">
        select count(*) from t_member where <![CDATA[ reg_time <= #{reportDate} ]]>;
    </select>

    <select id="findThisWeekNewMember" resultType="java.lang.Integer">
        select count(*) from t_member where reg_time between #{firstDayOfWeekString} and #{reportDate};
    </select>

    <select id="findThisMonthMemberCount" resultType="java.lang.Integer">
        select count(*) from t_member where reg_time between #{firstDay4ThisMonthString} and #{reportDate};
    </select>
</mapper>